body {
  background-image: url("./assets/league\ web\ background.png");
  display: flex;
  flex-direction: column;
    align-items: center; 
}
#titlepg{
  font-size: 66px;
  margin-bottom: 100px;
}
#logo{
  position: relative;
  left: -600px;
  top: -230px;
}
.logo{
  width: 100px;
}
#flexinfo{
  display: flex;
  width: 700px;
  margin-top: 100px;
  border: thin solid white;
  
}
#basic-info{
  display: flex;
  padding: 20px;
}
#champion-image {
  width: 50% ;
}